# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore Dockerfile
Dockerfile

# Ignore environment variables
.env

# Ignore build directories
build
dist

# Ignore any other files or directories you don't want to include in the Docker image
*.md
*.json


